/*/**
!/PlugY/*
!/save/**
*.mpq
!/basemod*
!patch_d*.mpq
!/sgd*
!/plugy*
*log*
*.log
*.7z
*.html
*dxvk-cache
*readme*
*changelog*
D2.LNG
ijl11.dll
SmackW32.dll
!/data/**
!/PlugY_Save_Monitor/**
PlugY_Save_Monitor/nppBackup
PlugY_Save_Monitor/*.ini
**__pycache__**
!.gitattributes
*/nppBackup/.gitattributes
