/*/**
!/PlugY/*
!/save/**
!/sgd*
!/plugy*
*.mpq
!Patch_D2.mpq
Patch_D2.mpq*
!/data/**
/data/global/excel/bak
!/PlugY_Save_Monitor/**
!/basemod*
#*log*
#*.log
*.7z
*.html
*dxvk-cache
*readme*
*changelog*
!.git*
**__pycache__**
**/nppBackup/**
